
<header markdown="0" class="norotate">
    <nav>
        <a class="logo" href="{{ "/" | relative_url }}">
            <img src="{{ "/images/logo/png/logo-mayo-mini-LOW.png" | relative_url }}" alt="Collectif mayonnaise">
        </a>
        <a href="{{ "/#à-propos" | relative_url }}">À propos</a>
        <a href="{{ "/#les-spectacles" | relative_url }}">Les spectacles</a>
        <a href="{{ "/#le-programme" | relative_url }}">Le programme</a>
        <a href="{{ "/#plan-daccès" | relative_url }}">Plan d'accès</a>
        <a href="{{ "/com" | relative_url }}">Espace Communication</a>
    </nav>
</header>