
<table class="programme norotate" markdown="0">
    <tr>
        <th></th>
        <th><h2>Jours impairs</h2>(mer 23 et ven 25)</th>
        <th><h2>Jours pairs</h2>(jeu 24 et sam 26)</th>
    </tr>


    {% assign horaires = "" %}

    {% for spectacle in site.data.spectacles %}
        {% unless horaires contains spectacle.horaires.impairs or spectacle.horaires.impairs == Nil %}
            {% assign horaires = horaires | append: spectacle.horaires.impairs | append: ", " %}
        {% endunless %}
        {% unless horaires contains spectacle.horaires.pairs or spectacle.horaires.pairs == Nil %}
            {% assign horaires = horaires | append: spectacle.horaires.pairs | append: ", " %}
        {% endunless %}
    {% endfor %}
    {% assign horaires = horaires | split:', ' %}
    {% assign horaires = horaires | sort %}

    {% for horaire in horaires %}
    <tr>
        <td>
            
            <em>{{horaire | remove_first:'_'}}</em>
        </td>
        {% assign matching_spectacle_pairs   = site.data.spectacles | where_exp:"spectacle", "spectacle.horaires.pairs contains horaire" %}
        {% assign matching_spectacle_impairs = site.data.spectacles | where_exp:"spectacle", "spectacle.horaires.impairs contains horaire" %}
        {% if matching_spectacle_pairs == matching_spectacle_impairs %}
            <td colspan="2">
                {% for spectacle in matching_spectacle_pairs %}
                {% include spectacle-programme.html spectacle=spectacle %}
                {% endfor %}
            </td>
        {% else %}
            <td>{% for spectacle in matching_spectacle_impairs %}
                {% include spectacle-programme.html spectacle=spectacle %}
            {% endfor %}</td>
            <td>{% for spectacle in matching_spectacle_pairs %}
                {% include spectacle-programme.html spectacle=spectacle %}
            {% endfor %}</td>
        {% endif %}
    </tr>
{% endfor %}

</table>